body{
    background-color:aliceblue;
}
.header{
    background-color: #01BCC3;
    display: flex;
    justify-content:space-between;
   padding: 20px;
}
.header-notification{
    font-size: 20px;
}
.jumbotron{
    background-color: #01BCC3;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 28px;
    border-radius: 15px 15px 0 0 ;
}
.jumbotron h1{
    margin-bottom: 0;
}
.background{
    background-color: black;
}
.jumbotron p{
    margin-top: 0;
    margin-bottom: 0;
}
.navbar{
    display:flex;
    position: fixed;
    bottom: 0;
    text-decoration: none;
    font-size: 18px;
    background-color:#fff;
    z-index: 5;
    width: 100%;
    border-radius: 10px 10px 0 0;
    max-width: 700px;
  }
  .menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }
  .navbar li:hover{
    background-color:#eae9e9;
  }
  .navbar li {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    
  }
  
  .menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
  }
  

.main{
    background-color: #fff;
    max-width: 700px;
    margin: 0px auto; 
    
}
.slide-show {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.list-images {
    display: flex;
   transition: 0.5s;
}
.btn:hover {
    color: white;
}
.btn {
    font-size: 45px;
    color: #999;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    cursor: pointer;
}
.btn-left {
    left: 0;
}
.btn-right {
    right: 0;
}
.index-images {
    position: absolute;
    bottom: 10px;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
}
.index-item {
    border: 2px solid #999;
    padding: 10px;
    margin: 3px;
    border-radius: 50%;
}
.active {
    background-color: #999;
}
.search-box{
    background-color: rgba(0, 0, 0, 0.722);
    padding: 10px 10px;
    text-align: center;
    margin-bottom: 0;
    box-sizing: inherit;
    position: sticky;
    top: 0;
    z-index: 5;
    border-radius: 0 0 15px 15px;
}

#search{
    border-radius:10px ;
    font-size: 20px ;
    width: 80%;
}
#search-button{
    border-radius: 10px;
    font-size: 18px;
}
.container{
    background-color: #01BCC3 ;
    display:flex;
    justify-content: space-between;
    border-radius: 15px;
    padding-bottom:15px;
    height: 60px;
    margin: 15px 0px 15px 0;
}
.container h1{
    margin-left:20px ;
}
.container p {
    font-size: 20px;
    margin-right: 20px;
}
.container a{
    text-decoration: none;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.body-part{
    background-color: #fff
}

.panel-name{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around ;

}
.body-part {
    border-radius: 15px;
}
.panel-default{
    border-radius: 15px;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    width: 28%;
    margin: 5px;
    
}
.panel-heading{
    display: flex;
    justify-content: center;
    padding: 0px;
    font-size: 18px;
    margin: 0 10px 10px 0;
  }
.panel-footer{
    display: flex;
    justify-content: center;
    padding:10px ;
    font-size: 15px;
    margin-bottom: -10px;
}
.panel-body img {
    transition: transform 0.3s;
    width: 95%;
  }
  
  .panel-body img:hover {
    transform: scale(1.1);
  }
li{
    list-style: none;
  }
