body{
    background-color: aliceblue;
}
.conten{
    background-color:#fff ; 
    width:700px;
    margin: 0px auto; <!-- can-giua --> 
}
.header{ 
    display: flex;
    justify-content: space-between;
    background-color: #01BCC3;
    padding: 1px;
}
.header-logo{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.header-notification{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
}
.navbar{
    display:flex;
    position: fixed;
    bottom: 0;
    text-decoration: none;
    font-size: 18px;
    background-color:#fff;
    z-index: 5;
    width: 100%;
    max-width: 700px;
}
.menu {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    list-style: none;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.navbar li:hover{
    background-color: #eae9e9;
}
  .navbar li {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
    
}
.menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.search-box{
    background-color: #01BCC3;
    padding: 20px ;
    text-align: center;
    margin-bottom: 0;
    box-sizing: inherit;
    position: sticky;
    top: 0;
    z-index: 5;
}
#search{
    border-radius:10px ;
    font-size: 20px ;
    width: 600px;
}
#search-button{
    border-radius: 10px;
    font-size: 20px;
}
ul.panel{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    margin-right: 25px;
}    
ul.panel li{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.panel-body img{
    flex-basis:50%;
    width:300px;
    height:200px;
}
.panel-item{
    max-width: 304px;
    height:320px;
    box-sizing: border-box;
    border-style: inset;
    border: 2px inset aliceblue;
    box-sizing: border-box;
}
.panel-item p{
    float:right;
}
a{
    color:black;
    text-decoration: none;
}
li{
    list-style: none;
}

