body{
    background-color: aliceblue;
}
.conten{
    background-color: #fff;
    max-width: 700px;
    margin: 0px auto; <!-- can-giua -->
} 
.thongtin{
    background-color: #01BCC3;
    max-width: 100%;
    margin-bottom: 0;
    box-sizing: inherit;
    position: sticky;
    top: 0;
    z-index: 5;
    display: flex;
    justify-content: space-between;
}
.thongtin a{
    text-decoration: none;
    margin-left:5px ;
}
.thongtin i{
    margin-top: 4%;
    margin-right: 20px;
    color: #fff;
}
.thongtin h3{
    color:#fff;
}
img{
    width:700px;
    height:600px;
}
h2{
    text-align: center;
}
ul.products{
    list-style: none;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 40px;
}
.product-item{
    flex-basis: 50%;
    box-sizing: border-box;
    margin-bottom: 30px;
    border-style: inset;
    border: 2px inset aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul.products li img{
    width: 300px;
    height:250px;
}
ul.products li  .product-top{
    position:relative;
    overflow:hidden;
}
ul.products li  .product-top .product-thumb{
    display:block;
}
ul.products li  .product-top .product-thumb img{
    display:block;
} 
ul.products li .product-top a.buy-now{
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    display:block;
    background-color:#01BCC3;
    color:#fff;
    padding:10px 0px;
    position:absolute;
    width:100%;
    bottom:-40px;
    transition:0.25s ease-in-out;
}
ul.products li:hover a.buy-now{
    bottom:0px;
}
li{
    list-style: none;
}

